/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {


  /* ============== coommon styles here ========== */

  .sectionGap {
    @apply pt-[60px] px-[30px]
    /* ======= */
    md:pt-[80px] md:px-[50px]
    /* ======= */
    lg:px-[60px] lg:pt-[80px]
    /* ======= */
    xl:px-[100px] xl:pt-[100px]
    /* ======= */
    2xl:px-[100px] 2xl:pt-[200px]
  }

  .commonTitle {
    @apply text-[24px] leading-[30px] pb-[10px]
    /* ======= */
    md:text-[26px] md:leading-[32px] md:pb-[15px]
    /* ======= */
    lg:text-[30px] lg:leading-[36px] lg:pb-[15px]
    /* ======= */
    xl:text-[35px] xl:leading-[41px] xl:pb-[25px]
    /* ======= */
    2xl:text-[50px] 2xl:leading-[59px] 2xl:pb-[25px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .commonParagraph {
    @apply text-[12px] leading-[14px]
    /* ========== */
    md:text-[14px] md:leading-[16px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px]
    /* =========== */
    font-Varela font-normal text-white
  }

  .CommonSmallText {
    @apply text-[12px] leading-[14px] mt-[35px] mb-[15px]
    /* ========== */
    md:text-[14px] md:leading-[16px] md:mt-[40px] md:mb-[20px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:mt-[0px] lg:mb-[0px]
    /* ============= */
    font-Ubuntu font-bold
  }

  .heroImgContentPara {
    @apply pt-[15px] pb-[50px] text-[10px] leading-[26px]
    /* =========== */
    lg:pt-[15px] lg:pb-[50px] lg:text-[12px] lg:justify-start
    /* ============= */
    flex items-center justify-center text-white font-Varela font-normal
  }

  .mobileMenuParent {
    @apply pt-[25px] text-[14px]
    /* ======== */
    md:pt-[30px] md:text-[16px]
    /* ======== */
    lg:pt-[0px] lg:text-[15px] lg:flex lg:list-none lg:text-white lg:space-x-[15px]
    /* ======== */
    xl:pt-[0px] xl:text-[18px] xl:flex xl:list-none xl:text-white xl:space-x-[25px]
    /* ============ */
    font-Ubuntu font-medium w-full
  }

  .homeLargeAppoinMent {
    @apply lg:text-[16px] lg:py-[8px] lg:px-[16px]
    /* =========  */
    font-Ubuntu font-normal bg-[#7EA254] text-white rounded-full
  }

  .largeScreenMenu {
    @apply lg:px-[50px] lg:pt-[50px] xl:px-[100px] xl:pt-[60px]
    /* ========= */
    flex justify-between items-center
  }

  .heroImgTitle {
    @apply text-[24px] leading-[30px]
    /* ====== */
    md:text-[26px] md:leading-[32px]
    /* ===== */
    lg:text-[28px]
    /* == */
    xl:text-[30px]
    /* == */
    2xl:text-[50px]
    /* =-========== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  /* ===== contact herosection ========= */
  .navbarLeftRightSpace {
    @apply px-[32px] pt-[32px]
    /* -------- */
    md:pt-[50px] md:px-[50px]
  }

  .headerLogo {
    @apply h-[23px]
    /* ====== */
    md:h-[30px]
    /* ==== */
    lg:h-[35px]
    /* ==== */
    xl:h-[45px]
  }

  .heroImgParent {
    @apply absolute bottom-0 text-center w-full
    /* =========== */
    lg:text-left lg:pl-[50px] xl:pl-[100px]
    /* ========= */
    lg:grid lg:grid-cols-2
  }

  /* =============== contact event styels ========== */

  .contactDescription{
    @apply text-[16px] leading-[26px] pb-[20px] 2xl:pb-[57px]
    lg:pr-[12%] 2xl:text-[18px] 2xl:leading-[26px]
    /* ======== */
    font-Varela font-normal
  }


  .contactEventSmall {
    @apply text-[12px] leading-[14px]
    /* ========== */
    md:text-[14px] lg:text-[16px] xl:text-[16px] 2xl:text-[18px]
    /* ========= */
    font-bold font-Ubuntu
  }

  .conatactEventTitle {
    @apply text-[30px] leading-[35px] pt-[15px] pb-[25px]
    /* =========== */
    md:text-[35px] lg:text-[40px] xl:text-[40px] 2xl:text-[50px] 2xl:leading-[60px]
    /* ========== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .conatctEventIcon {
    @apply text-[25px]
    /* =========== */
    text-white
  }

  .contactIconParent {
    @apply size-[48px]
    /* ============= */
    bg-[#7EA254] rounded-full flex justify-center items-center
  }

  .contactCTAtitle {
    @apply text-[24px] leading-[25px]
    /* ==========  */
    md:text-[26px] xl:text-[28px] 2xl:text-[30px]
    /* -=------------ */
    font-Ubuntu font-bold
  }

  .contactCTAsubtitle {
    @apply text-[12px] leading-[26px]
    /* ======== */
    md:text-[14px] lg:text-[16px] xl:text-[16px] 2xl:text-[18px]
    /* ========== */
    font-Varela font-medium text-[#6E6E6E]
  }

  .contactTitleSubttitleParent {
    @apply space-x-[26px]
    /* =============== */
    flex items-center
  }

  .eventCardTitle {
    @apply text-[24px] leading-[36px] pb-[30px] text-center px-[10%] pt-[15px] md:pt-0
    /* ============ */
    md:text-[26px] md:leading-[38px] md:pb-[35px] md:text-center md:px-[10%]
    /* ============ */
    lg:text-[28px] lg:leading-[38px] lg:pb-[35px] lg:text-center lg:px-[15%]
    /* ============ */
    xl:text-[30px] xl:leading-[38px] xl:pb-[35px] xl:text-center xl:px-[15%] 2xl:text-[36px] 2xl:leading-[46px] 2xl:pb-[35px] 2xl:text-center 2xl:px-[10%]
    /* ============ */
    font-Ubuntu font-bold text-white
  }

  .formTitle {
    @apply text-[12px] leading-[19px]
    /* =========== */
    md:text-[14px] md:leading-[21px]
    /* ===== */
    lg:text-[16px] lg:leading-[23px]
    /* ===== */
    xl:text-[16px] xl:leading-[23px]
    /* ======= */
    2xl:text-[18px] 2xl:leading-[28px]
    /* ====== */
    font-Ubuntu font-medium text-white
  }

  .contactInpufeild {
    @apply bg-transparent outline-none border-b-[1px] h-[10px] md:h-[12px] lg:h-[15px] xl:h-[15px] 2xl:h-[20px]
  }

  .inputParent {
    @apply flex flex-col px-[25px]
    /* ======== */
    md:px-[30px] lg:px-[35px] xl:px-[40px] 2xl:px-[80px]
  }

  .contactSendBtn {
    @apply text-[12px] leading-[24px] py-[4px]
    /* ============ */
    md:text-[14px] md:py-[8px]
    /* ======= */
    lg:text-[16px] lg:py-[15px]
    /* ====== */
    xl:text-[16px] xl:py-[15px]
    /* ========= */
    2xl:text-[18px] 2xl:py-[24px]
    /* ========= */
    font-Ubuntu font-medium text-[#7EA254] text-center bg-white rounded-full
  }

  /* ======================== contact faq section =============== */
  .contactFaqHub {
    @apply text-[12px] leading-[14px]
    /* ======== */
    font-Ubuntu font-bold
  }

  .contactFaqTitle {
    @apply text-[30px] leading-[35px] pt-[15px] pb-[25px]
    /* md====== */
    md:text-[35px] md:pt-[20px] md:pb-[35px] lg:text-[40px] lg:pt-[30px] lg:pb-[45px] xl:text-[40px] xl:pt-[30px] xl:pb-[45px] 2xl:text-[50px] 2xl:pt-[50px] 2xl:pb-[45px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .FaqiconsParent {
    @apply size-[24px]
    /* ============ */
    bg-[#7EA254] rounded-full flex justify-center items-center
  }

  .faqAccordianHeadText {
    @apply text-[20px] leading-[25px] pr-[20px]
    /* ========= */
    md:text-[22px] md:leading-[27px] md:pr-[25px]
    /* ========= */
    lg:text-[22px] lg:leading-[30px] lg:pr-[30px]
    /* ========= */
    xl:text-[22px] xl:leading-[40px] xl:pr-[30px]
    /* ========= */
    2xl:text-[24px] 2xl:leading-[50px] 2xl:pr-[50px]
    /* ============== */
    flex justify-center items-center font-Ubuntu font-bold
  }

  .faqAccordianTitleText {
    @apply text-[12px] leading-[18px] py-[15px]
    /* ========= */
    md:text-[14px] md:leading-[20px] md:py-[20px]
    /* ========= */
    lg:text-[16px] lg:leading-[22px] lg:py-[20px]
    /* ========= */
    xl:text-[16px] xl:leading-[22px] xl:py-[20px]
    /* ========= */
    2xl:text-[16px] 2xl:leading-[26px] 2xl:py-[40px]
    /* ========== */
    font-Varela font-medium
  }

  .faqmessageIcon {
    @apply text-[45px] text-[#7EA254]
  }

  .faqmessageParent {
    @apply mt-[32px] h-[354px] bg-[#EDEDED] rounded-[10px]
    /* =========== */
    lg:h-[400px] 2xl:h-[674px]
    /* ========= */
    flex justify-center items-center text-center
  }

  .faqboxTitle {
    @apply text-[30px] leading-[38px] py-[25px]
    /* ============== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .faqContactBtn {
    @apply text-[12px] leading-[24px] py-[4px] px-[18px]
    /* =========== */
    font-Ubuntu font-medium text-white bg-[#7EA254] rounded-full
  }

  /* ===============================footer =========== */
  .footerTopImg {
    @apply h-[57px] w-[57px] lg:h-[65px] lg:w-[65px] xl:h-[80px] xl:w-[80px]
    /* ======= */
    2xl:h-[171px] 2xl:w-[171px]
  }

  .footerTopTitle {
    @apply text-[20px] leading-[27px]
    /* ======== */
    md:text-[22px] lg:text-[24px] xl:text-[30px] 2xl:text-[48px] 2xl:leading-[50px]
    /* =========== */
    font-Ubuntu font-bold
  }

  .footerTopSubParent {
    @apply pt-[25px] px-[25px] pb-[25px] space-x-[20px]
    /* ========== */
    md:pt-[50px] md:px-[50px] md:pb-[40px] md:space-x-[20px]
    /* ========== */
    lg:pt-[40px] lg:px-[40px] lg:pb-[40px] lg:space-x-[30px]
    /* ========== */
    xl:pt-[80px] xl:px-[80px] xl:pb-[80px] xl:space-x-[40px]
    /* ======== */
    flex items-center
  }

  .footerTopBtn {
    @apply text-[12px] leading-[24px] py-[4px] px-[17px] md:text-[14px] md:leading-[26px] md:py-[6px] md:px-[18px] lg:text-[16px] lg:leading-[28px] lg:py-[8px] lg:px-[20px] xl:text-[16px] xl:leading-[28px] xl:py-[8px] xl:px-[20px] 2xl:text-[18px] 2xl:leading-[28px] 2xl:py-[24px] 2xl:px-[28px]
    /* ============= */
    font-Ubuntu font-medium text-white bg-[#7EA254] rounded-full
  }

  .footerTopnumber {
    @apply text-[20px] leading-[24px] pt-[15px] pb-[25px]
    /* ============= */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .footerLogoparent {
    @apply h-[30px] w-[165px]
  }

  .footerSocailIcon {
    @apply text-[20px] md:text-[25px]
  }

  .footerMenuText {
    @apply text-[12px] leading-[18px] pb-[2px]
    /* ===========  */
    md:text-[14px] md:leading-[20px] md:pb-[4px]
    /* ===========  */
    lg:text-[16px] lg:leading-[22px] lg:pb-[4px]
    /* ===========  */
    xl:text-[16px] xl:leading-[22px] xl:pb-[4px]
    /* ===========  */
    2xl:text-[16px] 2xl:leading-[36px] 2xl:pb-[5px]
    /* =========== */
    font-Varela font-normal
  }

  .footerMenuTextTitle {
    @apply text-[18px] leading-[23px] pb-[15px] md:text-[20px] md:leading-[25px] md:pb-[20px]
    /* ========== */
    lg:text-[22px] lg:leading-[25px] lg:pb-[20px]
    /* ========== */
    xl:text-[22px] xl:leading-[25px] xl:pb-[20px]
    /* ========== */
    2xl:text-[24px] 2xl:leading-[36px] 2xl:pb-[30px]
    /* ========== */
    font-Ubuntu font-bold text-[#1D1D1D]
  }

  /* ========================== event page ================= */

  .contentParentGallary{
    @apply py-[10px] pl-[10px]
  }
  .hoverTitleGallery{
    @apply text-[12px] leading-[15px]
    /* ========== */
    font-Ubuntu font-bold
  }
  .locationTextGallelry{
    @apply text-[8px] leading-[12px] pt-[5px]
    /* ========== */
    font-Varela font-normal
  }

  .ParticipateBtn{
    @apply  text-[8px] leading-[8px] py-[6px] px-[24px] mt-[8px]
    /* ============ */

    /* =======  */
    font-Ubuntu font-medium text-white bg-[#7EA254] rounded-full
  }

  .dateEvent{
    @apply text-[8px] leading-[12px] 
    /* font */
    font-Ubuntu font-bold
  }
  .exploreMemberShip{
    @apply  text-[12px] leading-[24px] py-[4px] px-[15px] mt-[25px]
    /* ============ */
    2xl:text-[18px] 2xl:leading-[27px]  2xl:mt-[66px]
    /* =======  */
    font-Ubuntu font-medium text-white bg-[#7EA254] rounded-full
  }
  .eventGarlleryTitle {
    @apply text-[30px] leading-[35px] pt-[15px] pb-[25px]
    /* ==================== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .eventGallarySmall {
    @apply text-[12px] leading-[14px]
    /* =========== */
    font-Ubuntu font-bold
  }

  .img1 {
    @apply h-[233px] w-[170px]
  }

  .img2 {
    @apply h-[118px] w-[172px] mt-[15px]
  }

  .img3 {
    @apply h-[366px]
  }

  .img4 {
    @apply h-[200px] w-full my-[15px]
  }

  .img5 {
    @apply h-[233px] w-[176px] mb-[15px]
  }

  .img6 {
    @apply h-[118px] w-[176px] mb-[15px]
  }

  .right5 {
    @apply h-[233px] w-[161px] mb-[15px]
  }

  .right6 {
    @apply h-[118px] w-[161px] mb-[15px] overflow-clip
  }

  /* =============== */
  .discoverKnowMore {
    @apply text-[12px] leading-[24px] py-[4px] px-[18px]
    /* ======= */
    font-Ubuntu font-medium text-white bg-[#7EA254] rounded-full
  }

  .eventVideoParent {
    @apply h-[410px] w-full
  }

  /* ============================= */
  .memberSmall {
    @apply text-[12px] leading-[14px]
    /* ========== */
    md:text-[14px] md:leading-[16px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px]
    /* =========== */
    font-Ubuntu font-bold
  }

  .memberTitle {
    @apply text-[30px] leading-[35px] pt-[15px]
    /* =========== */
    md:text-[35px] md:leading-[40px] md:pt-[20px] md:pr-[30%] lg:text-[40px] lg:leading-[36px] lg:pt-[20px] lg:pr-0
    /* ======= */
    xl:text-[45px] xl:leading-[41px] xl:pt-[25px]
    /* ======= */
    2xl:text-[50px] 2xl:leading-[59px] 2xl:pt-[25px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .memberParaText {
    @apply text-[12px] leading-[18px] pt-[15px] pb-[25px]
    /* ============ */
    md:text-[14px] md:leading-[16px] md:pt-[20px] md:pb-[30px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[50px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px]
    /* =========== */
    font-Varela font-normal
  }

  .memberSubparentCard {
    @apply border-[1px] border-[#7EA254]
  }

  .memberCardExpert {
    @apply text-[12px] leading-[13px]
    /* =========== */
    md:text-[14px] md:leading-[16px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px]
    /* =========== */
    font-Varela font-normal text-white lg:text-black
    /* =========== */
  }

  .memberCardPriceTtile {
    @apply text-[40px] leading-[74px]
    /* ======== */
    md:text-[35px] md:leading-[76px] 2xl:text-[42px] 2xl:leading-[70px]
    /* ========= */
    font-Ubuntu font-bold text-white lg:text-black
  }

  .memberCardPriceSubTtile {
    @apply text-[12px] leading-[18px]
    /* ========= */
    /* ========== */
    md:text-[14px] md:leading-[16px]
    /* ========== */
    lg:text-[15px] lg:leading-[18px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px]
    /* =========== */
    font-Varela font-normal text-white lg:text-black
  }

  .memberPriceParent {
    @apply flex justify-between items-center gap-x-[23px]
  }

  .membermiddlePara {
    @apply text-[12px] leading-[26px]
    /* ========= */
    md:text-[14px] md:leading-[28px] lg:text-[16px] lg:leading-[30px] 2xl:text-[18px] 2xl:leading-[32px]
    /* ============ */
    font-Ubuntu font-normal text-white lg:text-black
  }

  .memberApplyBtn {
    @apply text-[12px] leading-[15px] py-[8px] mt-[35px] mb-[25px]
    /* =========== */
    md:text-[14px] md:leading-[18px] md:py-[10px] md:mt-[35px] md:mb-[25px]
    /* =========== */
    lg:text-[16px] lg:leading-[20px] lg:py-[10px] lg:mt-[35px] lg:mb-[25px]
    /* =========== */
    2xl:text-[16px] 2xl:leading-[20px] 2xl:py-[30px] 2xl:mt-[65px] 2xl:mb-[50px]
    /* =========== */
    font-Ubuntu font-medium text-center border-[#7EA254] lg:text-white lg:bg-[#7EA254] rounded-full bg-white w-full text-[#7EA254] cursor-pointer
  }

  .memberCardOfferService {
    @apply text-[24px] leading-[25px] py-[25px] md:text-[26px] md:leading-[28px] md:py-[25px] lg:text-[28px] lg:leading-[30px] lg:py-[30px] 2xl:text-[28px] 2xl:leading-[35px] 2xl:py-[50px]
    /* ======== */
    font-Ubuntu font-bold text-white lg:text-black
  }

  .memberCardItmesParent {
    @apply space-x-[8px] space-y-0 text-[12px] leading-[26px]
    /* ========= */
    md:text-[15px] md:leading-[28px] md:space-y-1
    /* ========== */
    lg:text-[15px] lg:leading-[20px] lg:space-y-2
    /* ========== */
    xl:text-[13px] xl:leading-[20px] 2xl:text-[18px] 2xl:leading-[40px] 2xl:space-y-1
    /* ===== */
    font-Varela font-normal text-white lg:text-black flex items-center
  }

  /* ===========two card =================*/
  .memberCardExpert2 {
    @apply text-[12px] leading-[13px]
    /* =========== */
    md:text-[14px] md:leading-[16px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px]
    /* =========== */
    font-Varela font-normal lg:text-white text-black
  }

  .memberCardPriceTtile2 {
    @apply text-[40px] leading-[74px]
    /* ======== */
    md:text-[35px] md:leading-[76px] 2xl:text-[42px] 2xl:leading-[70px]
    /* ========= */
    font-Ubuntu font-bold lg:text-white text-black
  }

  .memberCardPriceSubTtile2 {
    @apply text-[12px] leading-[18px]
    /* ========= */
    /* ========== */
    md:text-[14px] md:leading-[16px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px]
    /* =========== */
    font-Varela font-normal lg:text-white text-black
  }

  .memberPriceParent2 {
    @apply flex justify-between items-center gap-x-[23px]
  }

  .membermiddlePara2 {
    @apply text-[12px] leading-[26px]
    /* ========= */
    md:text-[14px] md:leading-[28px] lg:text-[16px] lg:leading-[30px] 2xl:text-[18px] 2xl:leading-[32px]
    /* ============ */
    font-Ubuntu font-normal lg:text-white text-black
  }

  .memberApplyBtn2 {
    @apply text-[12px] leading-[15px] py-[8px] mt-[35px] mb-[25px]
    /* =========== */
    md:text-[14px] md:leading-[18px] md:py-[10px] md:mt-[35px] md:mb-[25px]
    /* =========== */
    lg:text-[16px] lg:leading-[20px] lg:py-[10px] lg:mt-[35px] lg:mb-[25px]
    /* =========== */
    2xl:text-[16px] 2xl:leading-[20px] 2xl:py-[30px] 2xl:mt-[65px] 2xl:mb-[50px]
    /* =========== */
    font-Ubuntu font-medium text-center border-[#7EA254] bg-[#7EA254] text-white rounded-full lg:bg-white w-full lg:text-[#7EA254] cursor-pointer
  }

  .memberCardOfferService2 {
    @apply text-[24px] leading-[25px] py-[25px] md:text-[26px] md:leading-[28px] md:py-[25px] lg:text-[28px] lg:leading-[30px] lg:py-[30px] 2xl:text-[28px] 2xl:leading-[35px] 2xl:py-[50px]
    /* ======== */
    font-Ubuntu font-bold lg:text-white text-black
  }

  .memberCardItmesParent2 {
    @apply space-x-[8px] space-y-0 text-[12px] leading-[26px]
    /* ========= */
    md:text-[15px] md:leading-[28px] md:space-y-1
    /* ========== */
    lg:text-[15px] lg:leading-[20px] lg:space-y-2
    /* ========== */
    xl:text-[13px] xl:leading-[20px] 2xl:text-[18px] 2xl:leading-[40px] 2xl:space-y-1
    /* ===== */
    font-Varela font-normal lg:text-white text-black flex items-center
  }


  /* ======card there  */
  .memberCardExpert3 {
    @apply text-[12px] leading-[13px]
    /* =========== */
    md:text-[14px] md:leading-[16px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px]
    /* =========== */
    font-Varela font-normal text-black
    /* =========== */
  }

  .memberCardPriceTtile3 {
    @apply text-[40px] leading-[74px]
    /* ======== */
    md:text-[35px] md:leading-[76px] 2xl:text-[42px] 2xl:leading-[70px]
    /* ========= */
    font-Ubuntu font-bold text-black
  }

  .memberCardPriceSubTtile3 {
    @apply text-[12px] leading-[18px]
    /* ========= */
    /* ========== */
    md:text-[14px] md:leading-[16px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px]
    /* =========== */
    font-Varela font-normal
  }

  .memberPriceParent3 {
    @apply flex justify-between items-center gap-x-[23px]
  }

  .membermiddlePara3 {
    @apply text-[12px] leading-[26px]
    /* ========= */
    md:text-[14px] md:leading-[28px] lg:text-[16px] lg:leading-[30px] 2xl:text-[18px] 2xl:leading-[32px]
    /* ============ */
    font-Ubuntu font-normal
  }

  .memberApplyBtn3 {
    @apply text-[12px] leading-[15px] py-[8px] mt-[35px] mb-[25px]
    /* =========== */
    md:text-[14px] md:leading-[18px] md:py-[10px] md:mt-[35px] md:mb-[25px]
    /* =========== */
    lg:text-[16px] lg:leading-[20px] lg:py-[10px] lg:mt-[35px] lg:mb-[25px]
    /* =========== */
    2xl:text-[16px] 2xl:leading-[20px] 2xl:py-[30px] 2xl:mt-[65px] 2xl:mb-[50px]
    /* =========== */
    font-Ubuntu font-medium text-center border-[#7EA254] bg-[#7EA254] text-white rounded-full w-full cursor-pointer
  }

  .memberCardOfferService3 {
    @apply text-[24px] leading-[25px] py-[25px] md:text-[26px] md:leading-[28px] md:py-[25px] lg:text-[28px] lg:leading-[30px] lg:py-[30px] 2xl:text-[28px] 2xl:leading-[35px] 2xl:py-[50px]
    /* ======== */
    font-Ubuntu font-bold
  }

  .memberCardItmesParent3 {
    @apply space-x-[8px] space-y-0 text-[12px] leading-[26px]
    /* ========= */
    md:text-[15px] md:leading-[28px] md:space-y-1
    /* ========== */
    lg:text-[15px] lg:leading-[20px] lg:space-y-2
    /* ========== */
    xl:text-[13px] xl:leading-[20px] 2xl:text-[18px] 2xl:leading-[40px] 2xl:space-y-1
    /* ===== */
    font-Varela font-normal flex items-center
  }








  /* =------- slider content ========= */
  .memberSliderTitle {
    @apply text-[20px] leading-[28px]
    /* =-====== */
    font-Ubuntu font-bold text-[#1d1d1d]
  }

  .memberSliderSubtitle {
    @apply text-[12px] leading-[11px] pt-[6px]
    /* =========== */
    font-Varela font-normal
  }

  .memberHoverBtn {
    @apply text-[12px] leading-[24px] py-[4px] px-[20px]
    /* ========= */
    font-Ubuntu font-medium text-white bg-[#7EA254] rounded-full
  }

  .nonMemberHoverBtn {
    @apply text-[12px] leading-[24px] py-[4px] px-[20px] border-[#7EA254] border-[1px]
    /* ========= */
    font-Ubuntu font-medium rounded-full
  }

  /* ======================= our services style ============ */
  .ourServiceImgParent {
    @apply w-full h-[403px] pb-[60px] lg:pb-0 2xl:h-[600px]
  }

  .ourServiceSmall {
    @apply text-[12px] leading-[14px] pb-[15px]
    /* ======== */
    md:text-[14px] md:leading-[16px] md:pb-[20px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[20px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px] xl:pb-[25px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px] 2xl:pb-[25px] font-Ubuntu font-bold text-black
  }

  .ourServiceTitle {
    @apply text-[30px] leading-[35px] pb-[15px]
    /* =========== */
    md:text-[35px] md:leading-[40px] md:pb-[20px] lg:text-[40px] lg:leading-[36px] lg:pb-[20px] xl:text-[45px] xl:leading-[41px] xl:pb-[25px]
    /* ======= */
    2xl:text-[50px] 2xl:leading-[59px] 2xl:pb-[25px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .ourServicePara {
    @apply text-[12px] leading-[18px]
    /* ======== */
    md:text-[14px] md:leading-[20px]
    /* ========== */
    lg:text-[16px] lg:leading-[20px] 
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px]
    /* ========== */
    font-Varela font-normal
  }
  .ourServieParaTextParent{
    @apply lg:px-[19%]
  }

  /* ======================== joys living ===============*/
  .teamContentParent {
    @apply bg-white rounded-t-[10px] pl-[15px] pr-[50px]
  }

  .joysTitle {
    @apply text-[30px] leading-[35px] 
    /* =========== */
    md:text-[35px] md:leading-[40px] 
    /* ========= */
    lg:text-[40px] lg:leading-[36px] 
    /* ===== */
    xl:text-[45px] xl:leading-[41px]
    /* ======= */
    2xl:text-[50px] 2xl:leading-[59px] 
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .joysPara {
    @apply text-[12px] leading-[18px] pt-[15px] pb-[25px]
    /* ======== */
    md:text-[14px] md:leading-[20px] md:pt-[20px] md:pb-[30px]
    /* ========== */
    lg:text-[16px] lg:leading-[20px] lg:pt-[25px] lg:pb-[25px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px] 2xl:pt-[25px] 2xl:pb-[50px]
    /* ========== */
    font-Varela font-normal
  }

  /* =========== */
  .joysSliderImgParent {
    @apply h-[507px]
  }

  .joysFirstSliderTitle {
    @apply text-[24px] leading-[36px] pt-[15px] pb-[0px]
    /* =========== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .joysFirstSliderSubtitle {
    @apply text-[12px] leading-[18px] pb-[10px] px-[15%]
    /* =========== */
    font-Varela font-normal 
  }

  .joysFirstSliderMorebtn {
    @apply text-[12px] leading-[17px] pb-[15px] underline
    /* =========== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .joysRegularWorkImgParent {
    @apply h-[403px] pb-[25px]
  }

  /* ==========our story ======== */
  .ourStorySmall {
    @apply text-[12px] leading-[14px] pb-[15px]
    /* ========== */
    md:text-[14px] md:leading-[16px] md:pb-[20px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[20px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px] xl:pb-[20px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px] 2xl:pb-[25px]
    /* =========== */
    font-Ubuntu font-bold
  }

  .ourStoryTitle {
    @apply text-[30px] leading-[35px] md:text-[35px] md:leading-[40px] lg:text-[40px] lg:leading-[36px]
    /* ======= */
    xl:text-[45px] xl:leading-[41px]
    /* ======= */
    2xl:text-[50px] 2xl:leading-[59px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .storyDoctorName {
    @apply text-[20px] leading-[26px] md:text-[20px] md:leading-[26px] lg:text-[22px] lg:leading-[28px] 2xl:text-[24px] 2xl:leading-[28px]
    /* ======= */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .storyDoctorDes {
    @apply text-[12px] leading-[20px]
    /* ======= */
    md:text-[14px] md:leading-[16px] md:pb-[0px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[0px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px] xl:pb-[0px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px] 2xl:pb-[50px]
    /* =========== */
    font-Varela font-normal
  }

  .ourStoryPara {
    @apply text-[12px] leading-[18px] pb-[35px]
    /* =============== */
    md:text-[14px] md:leading-[16px] md:pb-[40px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[50px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px] xl:pb-[80px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px] 2xl:pb-[50px] font-Varela font-normal text-center text-white
  }

  .aboutTeamSubtitle {
    @apply text-[12px] leading-[18px] pb-[10px]
    /* =========== */
    font-Varela font-normal
  }

  /* ================== mission title ============== */
  .missionTitle {
    @apply text-[24px] leading-[32px] pl-[15px] md:text-[28px] md:leading-[35px] md:pl-[25px] lg:text-[32px] lg:leading-[40px] 2xl:pl-[50px]
    /* ============ */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .missionPara {
    @apply p-[15px] text-[12px] leading-[18px] md:p-[25px] md:text-[16px] md:leading-[20px] 2xl:p-[50px] 2xl:text-[18px] 2xl:leading-[27px] font-Varela font-normal xl:pr-[40%] 2xl:pr-[40%]
  }

  .contentParentMission {
    @apply absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 flex flex-col justify-end rounded-[10px] text-white
  }

  /* ================ hero section styles ============ */
  .heroHomePara {
    @apply text-[12px] leading-[14px] pb-[25px] px-[10%]
    /* ========== */
    md:text-[14px] md:leading-[16px] md:pb-[30px] md:px-[15%]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[30px] lg:px-[15%]
    /* =========== */
    font-Varela font-normal text-white
  }

  .heroHomeBtn {
    @apply text-[12px] leading-[24px] py-[4px] px-[15px] mb-[57px]
    /* ========= */
    md:text-[14px] md:leading-[26px] md:py-[6px] md:px-[17px] md:mb-[60px]
    /* ========= */
    lg:text-[16px] lg:leading-[28px] lg:py-[8px] lg:px-[22px] lg:mb-[60px]
    /* ========= */
    xl:text-[18px] xl:leading-[30px] xl:py-[10px] xl:px-[24px] xl:mb-[70px]
    /* ========= */
    2xl:text-[18px] 2xl:leading-[20px] 2xl:py-[24px] 2xl:px-[32px] 2xl:mb-[80px]
    /*============ */
    font-Ubuntu font-medium bg-[#7EA254] text-white rounded-full cursor-pointer
  }

  /* ==================== whyChose us ============= */
  .chooseUsImgParent {
    @apply h-[403px] md:h-full
  }

  .chooseUsParent {
    @apply lg:grid lg:grid-cols-2 lg:justify-between lg:items-center lg:gap-x-[50px] xl:gap-x-[60px] 2xl:gap-x-[100px]
  }

  .chooseUsSamll {
    @apply text-[12px] leading-[14px] pt-[35px] pb-[15px]
    /* ========= */
    md:text-[14px] md:leading-[16px] md:pt-[40px] md:pb-[20px]
    /* ============ */
    lg:text-[16px] lg:leading-[20px] lg:pt-[0px] lg:pb-[25px]
    /* ========= */
    xl:text-[16px] xl:leading-[20px] xl:pt-[0px] xl:pb-[25px]
    /* ========= */
    2xl:text-[16px] 2xl:leading-[20px] 2xl:pt-[0px] 2xl:pb-[25px]
    /* ============= */
    font-Ubuntu font-bold
  }

  .chooseUsTitle {
    @apply text-[30px] leading-[35px] pb-[15px]
    /* =========== */
    md:text-[35px] md:leading-[40px] md:pb-[20px] lg:text-[40px] lg:leading-[36px] lg:pb-[20px]
    /* ======= */
    xl:text-[45px] xl:leading-[41px] xl:pb-[25px]
    /* ======= */
    2xl:text-[50px] 2xl:leading-[59px] 2xl:pb-[25px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .chooseUsParaText {
    @apply text-[12px] leading-[14px] pb-[25px]
    /* ========== */
    md:text-[14px] md:leading-[16px] md:pb-[30px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[30px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px] xl:pb-[40px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px] 2xl:pb-[50px]
    /* =========== */
    font-Varela font-normal
  }

  .chooseusKnowbtn {
    @apply text-[12px] leading-[24px] py-[4px] px-[17px]
    /* ======== */
    md:text-[14px] md:leading-[26px] md:py-[6px] md:px-[19px]
    /* ======== */
    lg:text-[16px] lg:leading-[26px] lg:py-[8px] lg:px-[20px]
    /* ======== */
    xl:text-[18px] xl:leading-[28px] xl:py-[10px] xl:px-[25px]
    /* ======== */
    2xl:text-[18px] 2xl:leading-[20px] 2xl:py-[24px] 2xl:px-[32px]
    /* ======= */
    font-Ubuntu font-medium bg-[#7EA254] text-white rounded-full
  }

  /* =============== popular service text ============== */
  .popularSmallText {
    @apply text-[12px] leading-[14px] pb-[15px]
    /* ========= */
    md:text-[14px] md:leading-[16px] md:pt-[0px] md:pb-[20px]
    /* ============ */
    lg:text-[16px] lg:leading-[20px] lg:pt-[0px] lg:pb-[25px]
    /* ========= */
    xl:text-[16px] xl:leading-[20px] xl:pt-[0px] xl:pb-[25px]
    /* ========= */
    2xl:text-[16px] 2xl:leading-[20px] 2xl:pt-[0px] 2xl:pb-[25px]
    /* ============= */
    font-Ubuntu font-bold
  }

  .popularSmallTitle {

    @apply text-[30px] leading-[35px] pb-[15px]
    /* =========== */
    md:text-[35px] md:leading-[40px] md:pb-[20px] lg:text-[40px] lg:leading-[36px] lg:pb-[20px]
    /* ======= */
    xl:text-[45px] xl:leading-[41px] xl:pb-[25px]
    /* ======= */
    2xl:text-[50px] 2xl:leading-[59px] 2xl:pb-[25px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .popularDes {
    @apply text-[12px] leading-[14px] pb-[25px]
    /* ========== */
    md:text-[14px] md:leading-[16px] md:pb-[30px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[35px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px] xl:pb-[40px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px] 2xl:pb-[50px]
    /* =========== */
    font-Varela font-normal
  }

  .largeScrenSliderImgParent {
    @apply md:h-[250px] md:w-[280px]
  }

  .popularSlidertitle {
    @apply text-[24px] leading-[36px] pt-[15px] pb-[10px]
    /* ======== */
    md:text-[26px] md:leading-[38px] md:pt-[20px] md:pb-[15px]
    /* ======== */
    lg:text-[28px] lg:leading-[35px] lg:pt-[25px] lg:pb-[15px] xl:text-[28px] xl:leading-[35px] xl:pt-[25px] xl:pb-[15px] 2xl:text-[28px] 2xl:leading-[35px] 2xl:pt-[25px] 2xl:pb-[10px]
    /* ======== */
    font-Ubuntu font-bold text-white
  }

  .popularSlidertext {
    @apply text-[12px] leading-[18px] pb-[10px] px-[20%]
    /* ======== */
    md:text-[14px] md:leading-[20px] md:pb-[15px] md:px-[10%]
    /* ======== */
    lg:text-[16px] lg:leading-[22px] lg:pb-[15px] lg:px-[10%] xl:text-[16px] xl:leading-[22px] xl:pb-[15px] xl:px-[10%] 2xl:text-[18px] 2xl:leading-[28px] 2xl:pb-[25px] 2xl:px-[10%]
    /* ======== */
    font-Varela font-normal text-white
  }

  .popularReadMoreBtn {
    @apply text-[12px] leading-[17px] mb-[25px]
    /* ======== */
    font-Ubuntu font-bold text-white underline
  }

  .getIntouchSmall {
    @apply text-[12px] leading-[14px] pb-[15px] pt-[35px]
    /* ========== */
    md:text-[14px] md:leading-[16px] md:pb-[15px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[25px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px] xl:pb-[30px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px] 2xl:pb-[50px]
    /* =========== */
    font-Varela font-normal text-white
  }

  .getTitle {
    @apply text-[30px] leading-[35px] pb-[15px] md:pt-0
    /* =========== */
    md:text-[35px] md:leading-[40px] md:pb-[20px] lg:text-[40px] lg:leading-[36px] lg:pb-[20px]
    /* ======= */
    xl:text-[45px] xl:leading-[41px] xl:pb-[25px]
    /* ======= */
    2xl:text-[50px] 2xl:leading-[59px] 2xl:pb-[25px]
    /* ======== */
    font-Ubuntu font-bold text-white
  }

  .getParaText {
    @apply text-[12px] leading-[14px] pb-[25px]
    /* ========== */
    md:text-[14px] md:leading-[16px] md:pb-[30px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[35px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px] xl:pb-[40px]
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px] 2xl:pb-[50px]
    /* =========== */
    font-Varela font-normal text-white
  }

  .getinTmgParent {
    @apply h-[211px] md:h-[250px]
  }

  /* ============ home membershitp ========= */
  .homeMemberShipSamll {
    @apply text-[12px] leading-[14px] pb-[15px]
    /* ======= */
    font-Ubuntu font-bold
  }

  .homeMemberShipTitle {
    @apply text-[30px] leading-[35px] pb-[15px]
    /* ======= */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .membershipPara {
    @apply text-[12px] leading-[18px] pb-[15px]
    /* ========== */
    font-Varela font-normal
  }

  .membershipbtnOne {
    @apply text-[24px] leading-[32px] py-[17px] rounded-[10px]
    /* ============ */
    font-Ubuntu font-bold text-center w-full bg-[#7EA254] hover:bg-white transition-colors duration-300 ease-in-out text-white hover:text-[#7EA254]
  }

  .membershipbtnTwo {
    @apply text-[24px] leading-[32px] py-[17px] rounded-[10px]
    /* ============ */
    font-Ubuntu font-bold text-center w-full hover:text-white text-[#7EA254] hover:bg-[#7EA254] bg-white
  }

  .membershipbtnThree {
    @apply text-[24px] leading-[32px] py-[17px] rounded-[10px]
    /* ============ */
    font-Ubuntu font-bold text-center w-full hover:text-white text-[#7EA254] hover:bg-[#7EA254] bg-white
  }

  /* ============== testimonila home page-========== */
  .tesSamll {
    @apply text-[12px] leading-[14px] pb-[15px]
    /* ======= */
    font-Ubuntu font-bold
  }

  .tesTitle {
    @apply text-[30px] leading-[35px] pb-[25px]
    /* ======= */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .tesSlidePara {
    @apply text-[14px] leading-[21px]
    /* ======== */
    font-Varela font-normal
  }

  .tesSlideTitle {
    @apply text-[20px] leading-[22px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .tesSlideDes {
    @apply text-[12px] leading-[26px]
    /* ======== */
    font-Varela font-normal
  }

  /* ============= blog page ---------- */
  .ourBlogSmall {
    @apply text-[12px] leading-[14px]
    /* ========== */
    md:text-[14px] md:leading-[16px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[px] 2xl:leading-[26px]
    /* =========== */
    font-Ubuntu font-bold
  }

  .ourBlogTitle {
    @apply text-[24px] leading-[30px] pt-[15px] pb-[25px]
    /* ======= */
    md:text-[26px] md:leading-[32px] md:pb-[35px]
    /* ======= */
    lg:text-[30px] lg:leading-[36px] lg:pb-[45px]
    /* ======= */
    xl:text-[35px] xl:leading-[41px] xl:pb-[45px]
    /* ======= */
    2xl:text-[50px] 2xl:leading-[59px] 2xl:pb-[50px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .blogSubtitleText {
    @apply text-[24px] leading-[30px] pt-[15px] pb-[10px]
    /* ======= */
    md:text-[24px] md:leading-[32px] md:pb-[15px]
    /* ======= */
    lg:pb-[15px]
    /* ======= */
    xl:pb-[15px]
    /* ======= */
    2xl:text-[28px] 2xl:leading-[36px] 2xl:pb-[25px] 2xl:pt-[10px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .blogParaText {
    @apply text-[12px] leading-[15px] pb-[15px] md:text-[14px] md:leading-[18px] md:pb-[15px] lg:text-[16px] lg:leading-[20px] lg:pb-[15px] 2xl:text-[18px] 2xl:leading-[25px] 2xl:pb-[15px]
  }

  .blogBtn {
    @apply text-[12px] leading-[15px] md:text-[14px] md:leading-[18px] lg:text-[16px] lg:leading-[20px] font-Ubuntu font-bold underline cursor-pointer
  }

  .caringBlogSmall {
    @apply text-[12px] leading-[14px] pb-[15px]
    /* ========== */
    md:text-[14px] md:leading-[16px] md:pb-[20px]
    /* ========== */
    lg:text-[16px] lg:leading-[18px] lg:pb-[25px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px]
    /* ========== */
    2xl:text-[px] 2xl:leading-[26px] 2xl:pb-[35px]
    /* =========== */
    font-Ubuntu font-bold
  }

  .caringTitle {
    @apply text-[24px] leading-[30px] pt-[25px] pb-[15px]
    /* ======= */
    md:text-[26px] md:leading-[32px] md:pb-[15px]
    /* ======= */
    lg:text-[30px] lg:leading-[36px] lg:pb-[15px]
    /* ======= */
    xl:text-[35px] xl:leading-[41px] xl:pb-[15px]
    /* ======= */
    2xl:text-[50px] 2xl:leading-[59px] 2xl:pb-[15px]
    /* ======== */
    font-Ubuntu font-bold text-[#7EA254]
  }

  .caringParaText{
    @apply text-[12px] leading-[14px] 
    /* ========== */
    md:text-[14px] md:leading-[16px] 
    /* ========== */
    lg:text-[16px] lg:leading-[18px]
    /* ========== */
    xl:text-[18px] xl:leading-[20px] 
    /* ========== */
    2xl:text-[18px] 2xl:leading-[26px] 
    /* =========== */
    font-Varela font-normal
  }


}